/** ==============================
 *  Header styles.
 *  =============================*/
.header {
	flex-shrink: 0;
	height: 80px;
	background: linear-gradient(90deg, rgb(0, 153, 204) 5%, rgb(0, 172, 230) 15%, rgb(0, 191, 255) 80%, rgb(0, 172, 230) 90%, rgb(0, 153, 204) 98%);
	box-shadow: 0 1px 20px 1px rgb(0, 172, 230);
	color: white;
	z-index: 10; /* Stay on top of other elements */
}

.header_container {
	height: 100%;
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

/* Heading styles */
.header_heading {
	margin-left: 1em;
}

.header_heading p {
	font-size: 0.95em;
	margin-bottom: 0.5em;
}

/* Navigation styles */
.navlink_container {
	margin-right: 1em;
	align-self: flex-end;
}

.navlink_list {
	display: flex;
	flex-flow: row nowrap;
}

.navlink_item {
	text-align: center;
}

.navlink_item a {
	color: white;
	display: block;
	padding: 0.4em 0.3em;
	text-decoration: none;
	font-weight: 500;
	font-size: 1.1em;
	letter-spacing: 0.2px;
	transition: background-color 0.25s linear;
	border-radius: 12px 12px 0 0;

	position: relative; /* For nice smooth bottom border animation */
}

.navlink_item a:hover, .navlink_item a:focus, .navlink_item .active, .hamburger_button:hover, .hamburger_button:focus {
	background-color: rgba(0, 0, 0, 0.07);
}

/* Add the bottom border color */
.navlink_item a::after {
	border-bottom: 2px solid white;
}

/* Add an arrow to the bottom of the active navlink */
.navlink_item .active::after {
	width: 0;
	transform: scaleX(1);
	transition: width 0.25s linear, left 0.25s linear, border 0.15s linear;

	content: ' ';
	position: absolute;
	left: 43%;
	border: 6px solid;
	border-color: transparent transparent white transparent;
}

.hamburger_container {
	display: none;
	align-self: flex-end;
	margin-right: 1em;
}

.hamburger_button {
	padding: 0.25em;
	font-size: 1.5em;
	color: white;
	border: none;
	cursor: pointer;
	background: inherit;
	transition: background-color 0.25s linear;
	border-radius: 12px 12px 0 0;
	width: 4.3em;
}

/* Medium screen styles */
@media screen and (max-width: 815px) {
	.header_container {
		position: relative;
	}

	.navlink_container {
		position: absolute;
		background: linear-gradient(90deg, rgb(89, 89, 89), rgb(102, 102, 102) 10%, rgb(115, 115, 115), rgb(102, 102, 102) 90%, rgb(89, 89, 89));
		box-shadow: 0 4px 10px 1px grey;
		width: 100%;
		z-index: 1;
		visibility: hidden;
		opacity: 0;
		transform: translate(0, 41px) scaleY(0);
		transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;
	}

	.navlink_container.open {
		visibility: visible;
		opacity: 1;
		transform: translate(0, 41px) scaleY(1);
	}

	.navlink_list {
		justify-content: flex-end; /* Display the item on the right */
		margin-right: 1em;
	}

	.hamburger_container {
		display: block; /* Display the hamburger button */
	}
}
