/** ==============================
 *  Main container styles.
 *  =============================*/
.main {
	flex-grow: 1;
	background: linear-gradient(90deg, rgb(230, 230, 230) 5%, rgb(242, 242, 242) 10%, rgb(255, 255, 255) 55%, rgb(242, 242, 242) 95%, rgb(230, 230, 230) 100%);
}

.main a {
	position: relative;
	text-decoration: none;
	color: #006080;
	transition: color 0.25s linear;
}

.main a:hover, .main a:focus {
	color: #0099cc;
}

.main a::after {
	border-bottom: 1px solid #0099cc;
}

.main_container {
	max-width: 980px;
	margin: 1em auto;

	display: flex;
	flex-flow: row nowrap;
}

/* Home page top styles */
.home_top {
	background-image: url(../images/home_bg.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 50vh;
	border-bottom: 1px solid grey;
	box-shadow: 1px 2px 10px 1px grey;

	display: flex;
	flex-flow: column nowrap;
}

.home_top_container {
	flex-grow: 1;
	max-width: 980px;
	margin: 0 auto;
	position: relative;

	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.home_top_content {
	margin: 1em 1em 4em; /* 4em at the bottom for the bullets space */
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2) 100%);
	border-radius: 26px;
	color: black;
	border: 1px solid deepskyblue;
	border-color: transparent lightyellow lightyellow transparent;
	box-shadow: 4px 4px 15px 1px lightblue;
}

.home_top_content > * {
	/* Let 1em margin space to all home_top_content children */
	margin: 1em;
}

/* Create some visual bullets on the bottom of the top background */
.home_top_bullets {
	position: absolute;
	bottom: 0;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.home_top_bullet {
	padding: 1em;
	margin: 1em;
	border-radius: 100%;
	background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5) 10%, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0.2) 100%);
	border: 1px solid deepskyblue;
	border-color: transparent lightyellow lightyellow transparent;
	box-shadow: 2px 2px 15px 1px lightblue;
}

/* Home page bottom styles */
.home_bottom {
	max-width: 980px;
	position: relative;
	margin: 0 auto;
}

/* Create Zig-Zag borders on the sides. */
.home_bottom:before {
	background: linear-gradient(-225deg, rgba(0, 0, 0, 0.05) 16px, transparent 0), linear-gradient(45deg, rgba(0, 0, 0, 0.05) 16px, transparent 0);
	left: 0;
}

.home_bottom::after {
	background: linear-gradient(-45deg, rgba(0, 0, 0, 0.05) 16px, transparent 0), linear-gradient(225deg, rgba(0, 0, 0, 0.05) 16px, transparent 0);
	right: 0;
}

.home_bottom::after, .home_bottom::before {
	background-repeat: repeat-y;
	background-position: left top;
	background-size: 32px 32px;
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	width: 32px;
}

.home_bottom_container {
	padding: 1em 28px;
}

.home_bottom_content {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

.home_bottom_content .heading {
	text-align: center;
	width: 100%;
	margin-bottom: 0.2em;
}

/* Select all the headings of home_bottom except the first one */
.home_bottom_content:not(:first-child) .heading {
	margin-top: 0.5em;
}

.home_bottom_content .icon {
	font-size: 2.5em;
	width: 1.3em; /* Fixed width for the icons */
	text-align: center;
	padding: 0.3em;
	border-radius: 0.7em;
	box-shadow: 3px 2px 10px grey;
}

.home_bottom_content .description {
	width: calc(100% - 5.8em);
	padding: 0 0.5em;
}

/** ==============================
 *  Portfolio styles.
 *  =============================*/
.portfolio_filter {
	z-index: 10; /* Display on top of others */
	margin: 0 0.5em;
	position: absolute;
	visibility: hidden;
	transform: translate(-999px, 1em);
	transition: transform 0.4s ease-in-out, visibility 0.2s linear;
}

.portfolio_filter.open {
	visibility: visible;
	transform: translate(0, 1em);
}

.filter_container {
	min-width: 200px;
	font-size: 0.9em;
	padding: 1em 0.8em;
	border: 1px solid lightgrey;
	background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8));
	border-radius: 18px;
	box-shadow: 4px 5px 10px 0 rgba(0, 0, 0, 0.25);
	display: flex;
	flex-flow: column nowrap;
}

.portfolio_main {
	margin: 0 1em 0 0.5em;
	padding: 1em 0.5em;
	flex-grow: 1;
	border: 1px solid lightblue;
	border-radius: 20px;
}

/* Sort view container */
.sort_container {
	font-size: 0.85em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sort_view_btn {
	cursor: pointer;
	color: white;
	font-size: 1.2em;
	margin: 0 3px;
	border-color: rgba(0, 150, 255, 0.5);
	border-radius: 6px;
	box-shadow: 0 1px 2px hsl(261, 27%, 55%);
	text-shadow: 0 -1px 1px hsl(261, 27%, 25%);
	background-color: hsl(261, 82%, 51%);
	background-image: linear-gradient(to bottom, rgba(0, 191, 255, 1), rgba(0, 191, 255, 0.5));
	transition: border-color 0.2s linear, background-color 0.2s linear, background-image 0.2s linear;
}

.sort_view_btn:hover, .sort_view_btn:focus {
	border-color: rgba(0, 150, 255, 0.2);
	background-color: hsl(261, 82%, 31%);
	background-image: linear-gradient(to bottom, rgba(0, 150, 255, 0.7), rgba(0, 150, 255, 0.2));
}

.sort_view_btn[aria-pressed="true"] {
	border-color: rgba(100, 100, 255, 0.3);
	background-color: hsl(261, 82%, 31%);
	background-image: linear-gradient(to bottom, rgba(50, 150, 255, 0.5), rgba(50, 150, 255, 0.1));
	box-shadow: inset 0 3px 5px 1px rgba(100, 100, 255, 0.3);
}

.sort_view_btn[aria-pressed="true"]:hover, .sort_view_btn[aria-pressed="true"]:focus {
	cursor: not-allowed;
	border-color: rgba(50, 50, 200, 0.1);
	background-color: hsl(261, 82%, 31%);
	background-image: linear-gradient(to bottom, rgba(50, 50, 200, 0.4), rgba(50, 50, 200, 0.2));
	box-shadow: inset 0 3px 5px 1px rgba(50, 50, 200, 0.1);
}

.sort_select {
	cursor: pointer;
	font-size: 1em;
	margin-left: 5px;
	padding: 2px;
	border: none;
	background-color: #fcfcfc;
	border-bottom: 1px solid rgba(50, 50, 200, 0.6);
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(50, 50, 200, 0.3);
}

/* Projects container */
.projects_container {
	text-align: center;
	font-size: 0.9em;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.project_container {
	position: relative;
	margin: 0.5em 0.5em;
	padding: 0.7em 0.5em 2.3em; /* Let bottom padding for the project links */
	border: 1px solid lightgrey;
	border-radius: 0 0 16px 0;
	border-color: transparent lightgrey lightgrey transparent;
	box-shadow: 8px 8px 20px 0 lightgrey;

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.grid .project_container {
	width: 29%;
}

.list .project_container {
	width: 100%;
}

.project_header {
	text-align: left;
	height: 200px;
	margin-bottom: 0.4em;
	background: darkgrey;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.grid .project_header {
	width: 100%;
}

.list .project_header {
	width: 38%;
}

.project_logo_container {
	font-size: 1.4em;
	padding: 0.1em;
	background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9));
	border-bottom: 1px solid lightgrey;
}

.brand_logo {
	margin: 0 4px;
	font-size: 1.3em;
	font-weight: 900;
}

.brand_logo img {
	max-width: 28px;
	vertical-align: -6%;
}

.grid .project_content {
	width: 100%;
}

.project_desc {
	margin-top: 0.3em;
}

.grid .project_desc {
	display: none;
}

.list .project_content {
	width: calc(60% - 1.6em);
	text-align: left;
	margin: 0 0.8em;
}

.project_links {
	position: absolute; /* Display project links on the bottom right corner of the container */
	bottom: 0.5em;
	right: 0.5em;
}

/* Small screens styles */
@media screen and (max-width: 520px) {
	.home_bottom_content .icon {
		display: none;
	}

	.home_bottom_content .description {
		width: 100%;
	}
}
