/** ==============================
 *  Main container styles.
 *  =============================*/
.main {
	flex-grow: 1;
	padding: 1em;
	background: linear-gradient(90deg, rgb(230, 230, 230) 5%, rgb(242, 242, 242) 10%, rgb(255, 255, 255) 55%, rgb(242, 242, 242) 95%, rgb(230, 230, 230) 100%);
}

.main_container {
	max-width: 980px;
	margin: 0 auto;
}

.main a {
	position: relative;
	text-decoration: none;
	color: #006080;
	transition: color 0.25s linear;
}

.main a:hover, .main a:focus {
	color: #0099cc;
}

.main a::after {
	border-bottom: 1px solid #0099cc;
}
