/** ==============================
 *  General tags styles.
 *  =============================*/
html, body, #root, .App {
	height: 100%;
}

html, body, ul, h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

body {
	font: 1.15em/1.25 Helvetica, Arial, sans; /* TODO: Find nice fonts on google fonts */
	color: #333;
	overflow-x: hidden;
}

.App {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

ul {
	list-style: none;
}

/* Add a bottom border on links as pseudo element
   so that it doesnt change the elements size */
a::after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transition: transform 0.25s linear;
}

a:hover::after, a:focus::after {
	transform: scaleX(1);
}
